# Compiled files
*.a
*.o
*.so
*.exe
*.lib
*.obj
*.out

# Deps
build/_deps
Build/_deps

# Folders
bin
out
lib
build
Bin
Out
Lib
Build

# Executables
bank-cli-2
run-tests

# Misc
Data
*.db
*.data
log.txt
logs.txt
compile_flags.txt
